
<!-- required locals: article -->

<div class="article_info">
  <% if ! article.tags.empty? %>
  [<%= article.tags.map{|tag| link_to(tag, akcms.tags[tag]) }.join(",") %>]
  <% end %>
  |
  <% if article.category != "" %>
    <% res = article.category_resource
    <%= link_to(res.locals[:display_name], res) %>  |
  <% end %>
  <%= link_to(article.date.strftime("%d %b %Y"), article) %> |
</div>
