
<!-- required locals: resource -->

<li>
  <%= link_to(h(resource.metadata[:directory][:name]), resource) %>
  <% children = resource.children %>
  <% unless children.empty? %>
  <ul>
    <% children.select {|c| c.path =~ /#{config[:index_file]}$/}.each {|child| %>
    <%= partial("partials/directory_recurse", locals: {resource: child}) %>
    <% } %>
  </ul>
  <% end %>
</li>
