<nav>
  <ul class="pager">
    <% if prev_article = current_resource.prev_article() %>
    <li class="previous">
      <%= link_to("&larr;" + prev_article.title,  prev_article, title: h(prev_article.title))%>
    </li>
    <% end %>
    
    <% if next_article = current_resource.next_article() %>
    <li class="next">
      <%= link_to(next_article.title + "&rarr;",  next_article, title: h(next_article.title)) %>
      </li>
    <% end %>
  </ul>
</nav>
