 
<% if current_resource.data.series %>
<div class="references">
  <div class="header">Topic: <%=  h(series[:name]) %></div>
  <ul>
    <% series[:articles].each {|res| %>
    <li>
      <% if res == current_resource %>
      <%= h(res.title) %>
      <% else %>
      <%= link_to(h(res.title), res) %>
      <% end %>
	</li>
    <% } %>
  </ul>
</div>
<% end %>
