 
<% if current_resource.data.series %>
<div class="references">
  <div class="header">連載記事：<%=  series[:name] %></div>
  <ul>
    <% series[:series_articles].each {|res| %>
    <li>
      <% if res == current_resource %>
      <%= res.title %>
      <% else %>
      <%= link_to(res.title, res) %>
      <% end %>
	</li>
    <% } %>
  </ul>
</div>
<% end %>
