---
title: Archives
layout: layout
group: navigation
type: summary
pagination:
  per_page: 20
---

<h1>Monthly Archives</h1>

<% articles = page_articles if pagination? %>

<% articles.group_by {|a| Date.new(a.date.year, a.date.month, 1)}.each {|date, articles| %>
  <h3><%= date.strftime("%b %Y") %></h3>
  <ul>
   <% articles.each {|article|%>
     <li><%= link_to(h(article.title), article) %></li>
   <% } %>
   </ul>
<% } %>
