---
title: Categories
layout: layout
date: 2014/11/1
group: navigation
type: summary
---

<h1>Categories</h1>

<div>
  <ul>
    <% akcms.categories.values.select {|res| res.parent == top_page() }.each {|res| %>
    <%= partial("partials/category_list", locals: {category_resource: res}) %>
    <% } %>
  </ul>
</div>
