---
title: Directories
layout: layout
date: 2014/11/1
group: navigation
type: summary
---

<h1>Directories</h1>

<div>
    <ul>
      <% sitemap.index_resource("").children.select {|r| r.directory_index? }.each {|res| %>
      <%= partial("partials/directory_recurse", locals: {resource: res}) %>
      <% } %>
    </ul>
  </ul>
</div>
